@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --primary: #FB923C;
    --primary-dark: #EA580C;
    --destructive: #FF4040;
    --destructive-dark: #D53535;
    --muted: #7e7e7e;
}

.dark {
    --primary: #FA7316;
    --primary-dark: #EA580C;
    --destructive: #FF4040;
    --destructive-dark: #D53535;
    --muted: #9b9b9b;
}

@keyframes spinner_KYSC {
    100% {
        transform: rotate(360deg)
    }
}

.markdown h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.markdown p {
    margin-bottom: 0.5rem;
}

.markdown strong {
    font-weight: 500;
}

.markdown ul,
.markdown ol {
    margin-bottom: 2rem;
}
